<div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('http://res.cloudinary.com/jtb360/image/upload/v1479602366/bougies_cbismv.png');">

<div class="container">
  <h1 class="text-center">Question <%= @question.get_question_number %></h1>
  <p class="text-center">
    <%= @question.text %>
  </p>
  <div class="row">
    <div class="col-xs-8 col-md-2 col-xs-offset-2 col-md-offset-5">
      <%= simple_form_for [@question, @question_answer] do |f| %>
        <%= f.input :question_choice_id,label: "", collection: @question.question_choices, as: :radio_buttons %>
        <%= f.submit value: "Valider", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


</div>
